@import (reference) "~less/compass/_theme.less";

.root {
	background: #0e83cd;
	color: @pw;
	height: 100vh;
	padding: 2.4rem;
}

.title {
	margin-top: 0;
}

// Inspired from aggregations.input.input and aggregations.input.preview

.match {
  position: relative;
  margin: 15px;
  border: 1px solid @gray6;
  border-radius: 4px;
  box-shadow: 1px 1px 1px @gray6;
  background: @pw;
}

.preview {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
  position: relative;

  &-image {
		min-height: 3em;
		width: 12em;
		margin: 1em;
	}

  &-documents {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    margin: 15px;

    :global {
      .document {
        background-color: @pw;
        margin: 10px;
        padding: 0px 20px;
        border: 1px solid @gray6;
        border-radius: 4px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        width: 350px;
        height: 150px;
        overflow: scroll;
        flex-shrink: 0;
        z-index: 100;

        &-elements {
          padding: 0px;
          margin-bottom: 0px;
        }

      }

      .document::-webkit-scrollbar {
        display: none;
      }

      .element-value-is-string {
        word-break: normal;
      }
    }
  }
}

.preview::-webkit-scrollbar {
  display:none;
}

.preview-toolbar {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &-text {
    font-size: 12px;
    padding-left: 10px;
    color: @gray1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
